Dataset description

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("mock_data.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               102 non-null    int64
 1   Name             102 non-null    object
 2   Age              102 non-null    int64
 3   Salary           80 non-null     float64
 4   YearsExperience  87 non-null     float64
 5   Children         87 non-null     float64
dtypes: float64(3), int64(2), object(1)
memory usage: 4.9+ KB

## Point-wise imputation
Point-wise Imputation (Điền từng điểm)
Mô tả: Điền giá trị thiếu bằng một giá trị cố định hoặc ước tính (ví dụ: trung bình, trung vị, mode, hoặc giá trị ngẫu nhiên).

Ưu điểm: đơn giản và nhanh chóng.

Nhược điểm: Có thể làm sai lệch phương sai và mối tương quan giữa các biến.

Use pandas built-in function

In [16]:

# Xac dinh salary trung binh
mean_salary = df['Salary'].mean()
df_point_wise_pandas = df.copy()


df_point_wise_pandas['Salary'].fillna(mean_salary, inplace= True)
df_point_wise_pandas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               102 non-null    int64
 1   Name             102 non-null    object
 2   Age              102 non-null    int64
 3   Salary           102 non-null    float64
 4   YearsExperience  87 non-null     float64
 5   Children         87 non-null     float64
dtypes: float64(3), int64(2), object(1)
memory usage: 4.9+ KB

/tmp/ipykernel_2535/4077784138.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_point_wise_pandas['Salary'].fillna(mean_salary, inplace= True)

Use scikit-learn libs

In [17]:
from sklearn.impute import SimpleImputer

mean_imputer = SimpleImputer(strategy='mean')

df_point_wise_scikit = df.copy()
df_point_wise_scikit['Salary'] = mean_imputer.fit_transform(df[['Salary']])
# We can observe that the salary columns is filled
df_point_wise_scikit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               102 non-null    int64
 1   Name             102 non-null    object
 2   Age              102 non-null    int64
 3   Salary           102 non-null    float64
 4   YearsExperience  87 non-null     float64
 5   Children         87 non-null     float64
dtypes: float64(3), int64(2), object(1)
memory usage: 4.9+ KB

## Pair wise Deletion
Chỉ sử dụng các dòng có dữ liệu đầy đủ cho từng cặp biến cụ thể khi thực hiện phân tích thống kê.

Ưu điểm: Tận dụng tối đa dữ liệu có sẵn cho mỗi phép tính

Nhược điểm: Kết quả có thể không nhất quán giữa các phân tích khác nhau

In [19]:
df.columns

Index(['ID', 'Name', 'Age', 'Salary', 'YearsExperience', 'Children'], dtype='object')

In [20]:
df[['Salary','Age','YearsExperience']].corr()

                   Salary       Age  YearsExperience
Salary           1.000000  0.989290         0.969927
Age              0.989290  1.000000         0.990937
YearsExperience  0.969927  0.990937         1.000000